* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body, html {
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error {
    width: 800px;
    height: 600px;
    background-color: #343434;
}

/* .error-left [
    ::-webkit-slider-thumb50
] */