* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

a {
    text-decoration: none;  
    color: #8f8f8f;
}

body {
    background-color: #fafafa;
}


 
ul, li {
    list-style: none;
}

.logo {
    width: 180px;
    height: 35px;
    background-image: url(/images/view-logo.png);
    background-size: 100% 100%;
}   

header{
    position: fixed;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #121212;
    border-bottom: solid 1px #ebebeb;
    z-index: 99;
    background-color: #fff;
    top: 0;
}

.header-bar {   
    width: 700px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-right {
    width: 180px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-bar input {
    height: 100%;
    padding-left: 3px;
    width: 180px;
    border: none;
    font-size: 13px;
}

.input-bar {
    border-bottom: 1px solid #343434;
}


.header-bar img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

#select-btn {
    margin-left: 30px;
    width: 30px;
    height: 45px;
    border-style: none;
    background: none;
    cursor: pointer;
}

.select-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-btn {
    margin-left: 10px;
}

.add-function {
    display: none;
    width: 125px;
    border: 1px solid #ebebeb;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
}

.add-function > li {
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.add-function > li:hover {
    background-color: #ebebeb;
}



/* write css */
.write {
    padding-top: 150px;
    margin: 0 auto;
    width: 700px;
}

.write * {
    color: #323232;
}

.write > h2 {
    text-align: center;
    font-size: 27px;
    font-weight: 500;
    padding-bottom: 20px;
    border-bottom: 1px solid #ebebeb;
}


#title {
    width: 100%;
    height: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid #ebebeb;
    padding-left: 10px;
    font-size: 25px;
}

#title::placeholder {
    color: #8f8f8f;
    font-weight: 500;
}

.submit {
    width: 75px;
    height: 38px;
    background-color: #474747;
    font-size: 15px;
    border: none;
    border-radius: 20px;
    color: #fff;
}

.cancle {
    width: 75px;
    height: 38px;
    background-color: #8f8f8f;
    font-size: 15px;
    border: none;
    border-radius: 20px;
    color: #fff;
    margin-left: 10px;
}

.write-btn {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}

/* write css end  */


/* view css start*/
.view {
    width: 700px;
    margin: 0 auto;
    margin-top: 100px;
    z-index: -100;
    background-color: #fff;
}

.view-top {
    margin-left: 30px;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.view-img > img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
}

.view-top-text > h3 {
    font-size: 15px;
    font-weight: bold;
}

.view-top-text > p {
    font-size: 12px;
    color: #8f8f8f;
}

.view > h2 {
    margin-left: 30px;
    font-weight: 400;
    color: #202020;
    font-size: 19px;
    margin-bottom: 20px;
}

.view > p {
    margin-left: 30px;
    font-size: 16px;
    color: #202020;
}

.view > img {
    margin-top: 30px;
    margin-left: 15px;
    max-width: 670px;
    max-height: 650px;
}

.view-form {
    margin-top: 4px;
    margin-left: 30px;
}

.view-form > span {
    margin-right: 15px;
    font-size: 25px;
}

.view-form > p {
    margin: 5px 0;
    margin-bottom: 10px;
    font-size: 14px;
}

.view-comment {
    width: 100%;
    border-top: 1px solid #efefef;
    padding-top: 5px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.view-comment > input {
    border: none;
}

.comment {
    margin-left: 30px;
    width: 650px;
}

.comment-btn {
    color: #fa6c11;
    border: none;
    background-color: #fff;
    margin-right: 15px;
}

.comment-box {
    margin-bottom: 20px;
}

.comment-form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 30px;
}

.comment-writer {
    margin-right: 10px;
    font-weight: bold;
    color: #262626;
    font-size: 14px;
}

.comment-text {
    font-size: 14px;
}

.like_btn { 
    margin-top: 10px;
    border: none; 
    background-color: #fff; 
    font-size: 14px; 
    margin-bottom: 10px; 
}





/* view css end */